---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="Hello!" description="Welcome to my blog!" pubDate={new Date()}>
  <p>I am an aspiring computer engineer.</p>
  <p>
    My main focus as of late has been music, so alongside my more normal web
    development and programming tasks, I have been diving deep into music
    production and sound design.
  </p>
</Layout>
