---
import AboutHeroImage from "../assets/blog-placeholder-1.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Hello!"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date()}
>
  <p>
    My name is Richard, and I am an aspiring computer engineer, focusing heavily
    on my amazing hobbies, taking advantage of computer technologies on the way!
  </p>
  <p>
    My main focus as of late has been music, so alongside my more normal
    webdevelopment and programming tasks, I have been diving deep into music
    production and sound design.
  </p>
</Layout>
