---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="this is the title" description="this is the description" />
  </head>
  <body>
    <Header />
    <main style="position: relative; text-align: center; padding: 4rem 0;">
      <!-- Center Image -->
      <div style="position: relative; display: inline-block;">
        <img
          src="/src/assets/face.png"
          alt="profile"
          style="width: 200px; border-radius: 50%;"
        />
      </div>
    </main>
    <Footer />
  </body>
</html>
