---
import "../styles/global.css";
const today = new Date();
---

<footer
  class="text-center px-4 pt-8 pb-24 bg-[linear-gradient(var(--gray-gradient))] bg-no-repeat"
>
  <p>
    &copy; {today.getFullYear()} All Rights Reserved
  </p>

  <div class="flex justify-center gap-4 mt-4">
    <a
      href="#"
      class="no-underline text-[rgb(var(--gray))] hover:text-[rgb(var(--gray-dark))]"
    >
      Twitter
    </a>
    <a
      href="#"
      class="no-underline text-[rgb(var(--gray))] hover:text-[rgb(var(--gray-dark))]"
    >
      GitHub
    </a>
    <a
      href="#"
      class="no-underline text-[rgb(var(--gray))] hover:text-[rgb(var(--gray-dark))]"
    >
      LinkedIn
    </a>
  </div>
</footer>
