---
import "../styles/global.css";
import HeaderLink from "./HeaderLink.astro";
---

<header class="bg-white px-4 py-4">
  <nav class="flex items-center justify-between relative">
    <h2 class="text-sm m-0">
      <a href="/">
        <img src="/src/assets/rgif.gif" alt="Logo" class="h-20 w-20" />
      </a>
    </h2>
    <div class="absolute left-1/2 -translate-x-1/2 flex gap-4">
      <HeaderLink
        href="/"
        class="py-4 px-2 text-black border-b-4 border-transparent hover:border-gray-300 font-glusp"
      >
        Home
      </HeaderLink>
      <HeaderLink
        href="/about"
        class="py-4 px-2 text-black border-b-4 border-transparent hover:border-gray-300"
      >
        About
      </HeaderLink>
      <HeaderLink
        href="/blog"
        class="py-4 px-2 text-black border-b-4 border-transparent hover:border-gray-300"
      >
        Blog
      </HeaderLink>
      <HeaderLink
        href="/project"
        class="py-4 px-2 text-black border-b-4 border-transparent hover:border-gray-300"
      >
        Projects
      </HeaderLink>
    </div>
  </nav>
</header>
